.warn-level-0 {
    background-color: #90ef53;
}
.warn-level-1 {
    background-color: #9dd84e;
}
.warn-level-2 {
    background-color: #a9c24a;
}
.warn-level-3 {
    background-color: #b8a945;
}
.warn-level-4 {
    background-color: #c79041;
}
.warn-level-5 {
    background-color: #d4793c;
}
.warn-level-6 {
    background-color: #e85636;
}
